.Profile-container1{
    display: table-cell;
    border-radius: 8px;
    background-color: whitesmoke;
    margin-top: 30px;
    width: 30%;
    height: 20%;
    font-size: 24px;
    color: rgb(34, 34, 34);
    font-weight: 800;
    text-align: center;
    margin-right: 10px;
}

.Profile-container2{
    display: table-cell;
    border-radius: 8px;
    background-color: whitesmoke;
    margin-top: 30px;
    width: 30%;
    height: 20%;
    font-size: 24px;
    color: rgb(34, 34, 34);
    font-weight: 800;
    text-align: center;
}

.profile-main{
    display: table;
    position: center;
    border-spacing: 10px;
    margin-top: 30px;
}
